<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div id="top">
    <div class="container">
      <h1>Евгений Полецкий</h1>
      <p>интерактивное резюме</p>
    </div>
  </div>
  <nav id="navbar-example" role="navigation">
    <div>
      <ul class="nav">
        <li class="active">
          <a href="#profile">Профиль</a>
        </li>
        <li>
          <a href="#experience">Опыт</a>
        </li>
        <li>
          <a href="#abilities">Навыки</a>
        </li>
        <li>
          <a href="#projects">Проекты</a>
        </li>
        <li>
          <a href="#contacts">Контакты</a>
        </li>
      </ul>
    </div>
  </nav>
</body>
</html>
